import os

open_subtitles = {
    "login": os.getenv('subfinder_login', 'your_login_here'),
    "password": os.getenv('subfinder_password', 'your_password_here'),
    "language": os.getenv('subfinder_language', 'eng'), #see "ISO 639-2 Code" column in http://www.loc.gov/standards/iso639-2/php/code_list.php
    "user_agent": os.getenv('subfinder_user_agent', 'your_user_agent'), #see http://trac.opensubtitles.org/projects/opensubtitles/wiki/DevReadFirst
}
